
@font-face {
    font-family: AstoriaMedium;
    font-style: normal;
    font-weight: normal;
    src: url("AstoriaRoman.ttf");
}
@font-face {
    font-family: AstoriaMedium;
    font-style: normal;
    font-weight: bold;
    src: url("AstoriaMedium.ttf");
}

*{
    font-family: AstoriaMedium;
}


.img-logo{
    margin: 5px;
    padding: 5px;
    width: 20vw;
}

.mycard{
    transition: 0.5s;
}


.tarjeta{
    font-size: 1vw;
}
.mycard:hover{
    -webkit-box-shadow: 2px 6px 52px 0px rgba(96, 96, 96, 0.75);
    -moz-box-shadow: 2px 6px 52px 0px rgba(96, 96, 96, 0.75);
    box-shadow: 2px 6px 52px 0px rgba(96, 96, 96, 0.75);
    transition: 0.5s;
}

.in{
    margin: 5px;
    font-size: 1.2vw;
    font-weight: bolder;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    color:#2C2925;
 }


.fondo-inicio{
    width: 100%;
    padding: 0;
    margin: 0;
}


.borders{

    color: black;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 5.5vw;
}

select{
    background: transparent;
    color: black;
    width: 30vw;
    border: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.7vw;
    border-bottom: 4px solid #BA1E22;
}

.buscar{
    background:transparent ;
    font-size: 2vw;
    transition: 0.6s;
}

.buscar:hover{
    background: #b1b1b1;
    font-size: 2vw;
    color: #252525;
    transition: 0.6s;
}

.search-button{
    background:#252525 ;
    font-size: 2vw;
    transition: 0.6s;
    color: white;
    height: 60%;
    width: 100%;
    border: transparent;
    border-radius: 20px;
    margin: 0;
    padding: 0;
}

.search-button:hover{
    background:#BA1E22 ;
    font-size: 2vw;
    transition: 0.6s;
    color: white;
}

.search-icon{
    width: 2vw;

    margin-left: 10px;
}

a{
    text-decoration: none;
    color: white;
}

#titulo-propiedad{
    text-align: center;
    color: #666666;
    font-size: 30px;
}

.footer-logos{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20px;
}

.look-img{
    width: 10vw;
}

.diagram{
    width: 30vw;
}

.quienes-main{
    color: #666666;
    text-align: center;
}

.text-nova{
    font-size: 18px;
    font-weight: normal;
}

.lista-text-nova{
    background: #c4c4c4;
    border: 2px solid white;
}
.servicios-main{
    color: #666666;
    text-align: center;
}


.button-contacto{
    background: #252525;
    color: white;
    width: 23vw;
    height: 6vw;
    border: transparent;
    font-size: 200%;
    font-weight: bold;
    transition: 0.6s;


}

.button-contacto:hover{
    background: #706f6f;
    width: 24vw;
    font-size: 210%;
    transition: 0.6s;

}

.folleto-servicios{
    width: 100%;
}

footer{
    color: white;
    background: #252525;
    font-size: 1vw;
}

.card-title{
    color: #BB1E23;
    font-weight: bolder;
    font-size: 2vw;
}

.show-bg{
    background:#BA1E22 ;
    color: white;
    font-weight: bold;
}

.mycontainer{
    margin-left: 10%;
    margin-right: 10%;
}
.btn-download{
    background: #2C2925;
    color: white;
    border: transparent;
    width: 10vw;
    height: 3vw;
    border-radius: 4px;

}

.btn-inicio{
    background: #2C2925;
    color: white;
    font-size: 2vw;
    border: transparent;
    width: 16vw;
    height: 3vw;
}

.bottom-inicio{
    background: #BA1E22;
    color: white;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    height: 3vw;
}

.brd{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-right:0.5px solid white;
    font-size: 12px;
}

.myalign-middle{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img-info{
    background: #BB1E23;
    width: 6vw;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 2%;

}

.img-props{
    transition: 0.6s;
}
.img-props:hover{
    width: 102%;
    transition: 0.6s;
}
